//* Hack for Gecko engine that will help fix styles for it.
@-moz-document url-prefix() {
    .navbar__container .navbar .navbar__logotype .logotype__title {
        top: 1px;
    }
}

/**
 * 
 * Phone & Tablet screen
 * 
 */
@media only screen and (max-width: 1200px) {
    body {
        .on-desktop {
            display: none !important;
        }

        .feature-cards {
            flex-wrap: wrap;
            flex-flow: wrap;

            .feature-cards__card {
                width: 250px;
            }
        }

        .store-card {
            width: 330px;

            .store-card__service-info h2 {
                font-size: 1.2em;
            }

            .store-card__verified {
                position: relative;
                bottom: -2px;
            }
        }

        .promo-container {
            flex-wrap: wrap;
            flex-flow: wrap;
            justify-content: center;
        }

        .promo-container .promo-container__presences {
            margin-left: 0;
        }

        .promo-container .promo-container__heading {
            margin-right: 0;
        }

        .footer-grid .grid__section .section__title {
            font-size: 1.3em;
            margin: 20px auto;
        }

        .footer-grid {
            flex-wrap: wrap;
        }

        button,
        a.button {
            padding: 10px 15px;
            font-size: 16px;
        }

        .presence {
            width: auto;
            margin: 20px;
        }
    }

    .language-notify__wrapper {
        padding: 1.4rem;

        .language-notify {
            flex-wrap: wrap;

            .language-notify__content {
                flex: 1 1 0;
                margin: 0;
            }

            .language-notify__buttons {
                margin: 1rem auto;
            }
        }
    }

    .dl-container .dl-container__section_header {
        padding-top: 1em;
    }

    .section-heading .section-heading__title {
        font-size: 2.5rem;
    }

    .section-heading .section-heading__subtitle {
        font-size: 1rem;
    }

    .dl-container .dl-container__header {
        flex-wrap: wrap;

        >div {
            margin-bottom: 1em;
        }

        .header__content {
            width: 100%;

            h1 {
                font-size: 46px;
            }

            p {
                font-size: 18px;
            }

        }

        .header__steps {
            width: 100%;
        }
    }

    .dl-container__cards {
        flex-wrap: wrap;
    }

    .section-container {

        min-height: 600px;

        .section-container__details {
            font-size: 0.7em;
        }

        .section-container__promo {

            .section-container__promo--image1 {
                max-width: 400px;
            }
        }
    }

    .button.button_large {
            padding: 10px 20px;
            font-size: 1em;
    }
    
}

/**
 * 
 * Very small phone screen
 * 
 */
@media only screen and (max-width: 580px) {
    .promo-container .promo-container__heading {

        .heading__logo {
            display: flex;

            img {
                margin: 0 auto;
            }
        }

        .heading__text {

            margin-left: 0;
            display: block;

            h1 {
                text-align: center;
            }

            p {
                left: 0;
                margin-left: 0;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    .promo-container .promo-container__presences {
        width: stretch;
    }

    .discord-usercard {
        width: auto;
        margin: 1em;
    }

    .fullpresence-container {

        .fullpresence__content h2.content__title {
            font-size: 22px;
        }

        .fullpresence__header {
            padding: 2em;
            margin: 1rem 0;

            .header__title h1 {
                font-size: 24px;
            }

            .fullpresence__verified {
                height: 16px;
                width: 16px;
            }
        }

        .fullpresence__content {
            flex-wrap: wrap;
            justify-content: center;

            .content__description,
            .content__info {
                flex: 1;
                margin: 0.5em 0;
            }

            .content__description {
                margin-right: 0;
            }

            .content__info {
                margin-left: 0;
            }
        }
    }

    body .store-card {
        width: 280px;
        height: 120px;

        .store-card__service-logo img {
            max-width: 50px;
        }

        .store-card__service-info h2 {
            font-size: 1.1em;
        }
    }

    .heading__button-group {

        button,
        a.button {
            width: stretch;
            margin: 5px 1em;
        }
    }

    .section-heading .section-heading__title {
        font-size: 2em;
    }

    .features-container {
        padding: 0;
    }
    
    .section-container {

        min-height: 600px;
        flex-flow: column-reverse;
        flex-wrap: wrap;
        justify-content: center;

        &_reverse {
            flex-flow: column;
        }

        .section-container__details {
            width: 100%;
            font-size: 0.6em;
            margin-bottom: 3em;
        }

        .section-container__promo {
            .section-container__promo--image1, video {
                max-width: 300px;
            }
        }
    }
}

// Desktop
@media (min-width: 1200px) {
    .on-mobile {
        display: none !important;
    }
}
