.feature-cards {
    display: flex;
    margin: 0 auto;

    justify-content: center;
    align-items: normal;
    flex-wrap: wrap;

    .feature-cards__card {
        * {
            margin: 0;
            padding: 0;
        }

        user-select: none;
        position: relative;
        width: 450px;
        height: 400px;
        overflow: hidden;
        text-align: center;
        padding: 2em;
        background: #202225;
        border-radius: 5px;
        margin: 1em;
        transition: transform .2s ease,
        -webkit-transform .2s ease;

        h3 {
            font-weight: 700;
            font-size: 1.6em;
            padding-bottom: 10px;
            position: relative;
            z-index: 2;
        }

        .items-centered {
            // position: relative;
            // left: 50%;
            // top: 50%;
            // -webkit-transform: translate(-50%, -50%);
            // transform: translate(-50%, -50%);
            // z-index: 2;
        }

        .card__desc {
            opacity: 7;
            text-align: left;
            position: relative;
            z-index: 2;
        }

        .card__feature-icon {
            font-size: 3em;
            padding-bottom: 0.5em;
            z-index: 2;
        }

        // .card__background-overlay {
        //     position: absolute;
        //     overflow: hidden;
        //     opacity: @include 1;
        //     background: linear-gradient(135deg, $accent-secondary 0%, $background-secondary 100%);
        //     z-index: 1;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     pointer-events: none;

        //     &.overlay_white {}
        // }

        .card__background {
            img {
                transform: scale(1);
                transform-origin: 0% 0%;
            }

            position: absolute;
            overflow: hidden;
            opacity: 0.8;
            bottom: -120px;

            &.card-theme_media {
                bottom: -15rem;
                left: 2.5rem;

                img {
                    transform: scale(0.8);
                }
            }

            &.card-theme_lang {
                bottom: -13rem;

            }

            &.card-theme_opensource {
                bottom: -4rem;
                left: 3rem;

            }

            left: 0;
            right: 0;
            font-size: 14em;
            pointer-events: none;
        }

        &:hover {
            transform: translateY(-8px);
        }

    }

}

.store-card {
    width: 380px;
    height: 150px;
    position: relative;
    background: hsl(216, 7%, 9%);
    background-image: url("https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/743/cached.offlinehbpl.hbpl.co.uk/news/OMC/Netflix1-20180822081935478.jpg");
    background-size: cover;
    box-shadow: 0 4px 32px 0 rgba(9, 10, 10, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.6em;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    z-index: 1;

    transform: translateY(0px);

    transition: all .2s cubic-bezier(.175,.885,.32,1.275);

    user-select: none;

    .store-card__gradient {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
        opacity: 0.85;

        z-index: 1;
    }

    .store-card__overlay {

        position: absolute;
        top: 8px;
        right: 0px;
        bottom: 0;

        z-index: 111;
    }

    .store-card__service-logo {
        padding: 0 1em;
        margin: auto 0;

        img {
            max-width: 64px;
            max-height: 64px;
            border-radius: 5px;
            filter: drop-shadow(0 4px 0.75rem rgba(0, 0, 0, 0.2));
        }

        z-index: 2;
    }

    .store-card__service-info {

        filter: drop-shadow(0 4px 0.75rem rgba(0, 0, 0, 0.4));

        z-index: 2;

        color: white;
        margin: auto 0;
        margin-right: auto;

        padding: 0 1em;

        a {
            color: white;
        }

        h2 {
            font-size: 1.3em;
            margin: 0;

            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            display: -webkit-box;

            .fa-stack {
                margin-left: 4px;
                font-size: 0.45em;
            }
        }

        p {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            margin: 0;
            font-weight: 500;
        }

        .store-card__desc {
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;

            margin-top: 8px;
            font-size: 12px;

            color: rgba(255, 255, 255, 0.8);

            transition: all 0.2s ease;

        }

        .store-card__buttons {
            margin-top: 10px;

            display: inline-block;

            .button,
            a {
                font-size: 12px;
                width: 100%;
            }
        }

        .store-card__warning {
            font-weight: 600;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            margin: 10px 0;
            border-radius: 4px;
            padding: 10px;

            box-shadow: 0 3px 26px -5px rgba(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.6);
        }

    }

    &:hover {
        z-index: 2;
        transform: translateY(-8px);
    }

}

.dl-container__cards {

    display: flex;
    max-width: 1600px;
    margin: 0 auto;

    justify-content: center;
    align-items: normal;

    position: relative;

    .cards__card {

        margin: 1em;

        user-select: none;

        display: flex;

        z-index: 1;
        position: relative;
        width: 180px;
        overflow: hidden;
        text-align: center;
        background: #383D42;
        color: white;
        border-radius: 6px;
        padding: 10px 26px;
        transition: all 0.2s ease;

        cursor: pointer;

        justify-content: space-between;
        align-content: center;
        align-items: center;

        .card__content {
            h3 {

                font-size: 1.2em;
                font-weight: bold;
            }

            .platform-warning {
                color: #ED6347;
                text-shadow: 0 0 12px rgba(237, 99, 71, 0.5);
                margin-left: 3px;
                font-size: 17px;
                transition: all 0.2s ease;
            }
        }

        .card__icon {

            font-size: 2.5em;
            vertical-align: middle;
        }

        // &:hover {
        //     transform: translateY(-12px);
        // }

        // &:active {
        //     transform: translateY(-6px);
        // }

        &.card_clickable {
            cursor: pointer;
        }

        &.current-platform {
            box-shadow: 0 4px 40px 0 rgba(114, 137, 218, 0.2);
        }

        &.current-platform,
        &:hover {
            background: $accent-primary;

            .platform-warning {
                color: white;
            }
        }

        &:hover {
            box-shadow: 0 4px 70px 0 rgba(114, 137, 218, 0.4);
        }

        // &.current-platform {
        //     transform: translateY(-12px);
        // }

        // .card__icon {
        //     font-size: 5em;
        //     padding-bottom: 0.1em;
        // }

        // .card__content {

        //     h3 {
        //         font-weight: 600;
        //         font-size: 1.5em;
        //         margin-bottom: 0.3em;
        //     }

        //     p {
        //         opacity: @include 8;
        //         margin: 0;
        //         padding: 0;
        //     }

        //     p.card__warning {
        //         font-weight: 600;
        //         font-size: 12px;
        //     }

        // .card__buttons {

        //     margin: 2.5em 0;

        //     .button {
        //         position: absolute;
        //         bottom: 15px;
        //         transform: translate(-50%, 0);
        //     }
        //     }
        // }
    }
}

.discord-usercard {
    user-select: none;

    margin: 1em 0;

    border-radius: 8px;
    position: relative;
    width: 550px;
    background: $accent-primary;

    * {
        margin: 0;
        padding: 0;
    }

    .usercard__header {
        padding: 20px;
        display: flex;
        align-items: center;

        .header__avatar {
            margin-right: 20px;

            width: 90px;
            height: 90px;

            border-radius: 50%;
            position: relative;

            flex-shrink: 0;

            background-clip: padding-box;
            background-color: none;
            background-position: 50%;
            background-size: 100%;
        }

        .header__info {
            flex: 1;

            .info__nameTag {
                vertical-align: middle;
                text-overflow: ellipsis;
                overflow: hidden;

                padding-right: 20px;

                line-height: 20px;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-box;

                span.username {
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                }

                span.discriminator {
                    font-size: 14px;
                    color: hsla(0, 0%, 100%, .6);
                }
            }

            .info__badges {
                margin-top: 8px;

                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                flex-wrap: nowrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;

                display: flex;

                .badge-wrapper {
                    outline: 0;
                    margin-right: 6px;

                    .badge {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50%;
                        cursor: pointer;
                        width: 24px;
                        height: 24px;

                        &_hypesquad {
                            background-image: url('../assets/images/hypesquad.svg');
                        }

                        &_nitro {
                            background-image: url('../assets/images/nitro.svg');
                            width: 28px;
                        }

                        &_early {
                            background-image: url('../assets/images/early.svg');
                            width: 28px;
                        }

                        &_bravery {
                            background-image: url('../assets/images/bravery.svg');
                        }

                        &_brilliance {
                            background-image: url('../assets/images/brilliance.svg');
                        }

                        &_balance {
                            background-image: url('../assets/images/balance.svg');
                        }

                        &_boost-lvl1 {
                            background-image: url('../assets/images/boost-lvl1.svg');
                        }

                        &_boost-lvl2 {
                            background-image: require('../../assets/images/boost-lvl2.svg');
                        }

                        &_boost-lvl3 {
                            background-image: require('../../assets/images/boost-lvl3.svg');
                        }

                        &_boost-lvl4 {
                            background-image: require('../../assets/images/boost-lvl4.svg');
                        }
                    }
                }
            }
        }
    }

    .usercard__activity {
        background-color: rgba(0, 0, 0, .05);

        .activity__info {
            padding: 20px;

            .info__header {
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 8px;
                line-height: 16px;
                font-size: 12px;
                font-weight: 800;
            }

            .info__game {
                display: flex;
                align-items: flex-start;

                .game__icon {
                    position: relative;

                    img.game {
                        text-indent: -9999px;
                        width: 90px;
                        height: 90px;
                        border-radius: 4px;
                        display: block;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -webkit-user-drag: none;

                        mask: url('../assets/images/mask.svg');
                    }

                    img.status-icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -4px;
                        right: -4px;
                        -webkit-user-drag: none;
                    }
                }

                .game__content {
                    flex: 1 1 auto;
                    color: hsla(0, 0%, 100%, .8);
                    margin-left: 20px;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    font-size: 13px;
                    line-height: 16px;

                    font-weight: 400;

                    .game__title {

                        font-weight: 600;

                        span {
                            &:hover {
                                text-decoration: underline;
                            }

                            color: hsla(0, 0%, 100%, .8);
                        }
                    }

                    .text-row {
                        display: block;
                        margin-bottom: 4px;
                    }

                    .game__st-line {
                        color: hsla(0, 0%, 100%, .8);
                    }

                    .game__nd-line {
                        color: hsla(0, 0%, 100%, .8);
                    }

                    .game__time {}

                }
            }
        }
    }
}

.credit-card {
    margin: 10px 5px;
    position: relative;
    width: 250px;
    height: 50px;
    border-radius: 6px;
    padding: 10px;
    background: rgb(41, 45, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.15s ease-in-out;
    user-select: none;

    &__user {

        flex: 0.8;
        overflow: hidden;

        h1,
        h2 {
            margin: 0;
            margin-left: 5px;
        }

        h1 {
            font-size: 1.1rem;
            color: #fff;
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            font-weight: 800;
        }

        h2 {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            font-weight: 900;
            display: inline-block;
            font-family: 'Discord Font', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    }

    &__avatar {
        img {
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
        }

        span {
            z-index: 1;

            position: absolute;
            bottom: 14px;
            right: 14px;

            display: block;
            width: 9px;
            height: 9px;

            border: 2px solid #2C2F33;
            border-radius: 100%;

            &.online {
                background: #43B581;
            }

            &.dnd {
                background: rgb(240, 71, 71);
            }

            &.idle {
                background: rgb(250, 166, 26);
            }

            &.offline {
                background: rgb(116, 127, 141);
            }
        }
    }

    &:hover {
        transform: translateY(-6px);
        z-index: 6px;
        box-shadow: 0 2px 74px 0 rgba(0, 0, 0, 0.5);
    }

}

.category-card {

    width: 495px;
    height: 170px;
    position: relative;
    background: hsl(216, 7%, 9%);
    background-size: cover;
    box-shadow: 0 4px 32px 0 rgba(9, 10, 10, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.6em;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    z-index: 1;

    transform: translateY(0px);

    transition: all 0.2s ease-in-out;

    user-select: none;
    color: white;

    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 4px 42px 0 rgba(9, 10, 10, 0.4);
    }

    .category__icon {
        font-size: 2em;
        padding: 0.5em;
    }

    .category__data {
        h2 {
            margin: 4px 0;
        }

        p {
            margin: 4px 0;
            max-width: 330px;
            font-size: 0.9em;
        }
    }
}
