.pattern {
	background-image: url("../assets/images/pattern.png");
	background-size: 300px 240px;
}

.container {
	position: relative;
	overflow: hidden;

	&--width--desktop {
		max-width: 1600px;
	}

	&--width--mobile {
		max-width: 600px;
	}

	&--large {
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		text-align: center;
	}

	.container__heading {
		.heading--center {
			text-align: center;
		}
		.heading--right {
			text-align: right;
		}

		.heading--subtitle {
			font-size: small;
		}
	}
}

.container {
	position: relative;

	&_error-page {
		margin-top: 8em;

		h1 {
			font-size: 3em;
		}

		color: white;
		height: 50vh;
	}

	&_maintenance-page {
		margin-top: 5em;

		h1 {
			font-size: 3em;
		}

		color: white;
		height: 50vh;
		align-items: center;
		text-align: center;

		.maintenance-links {
			margin-top: 12em;
		}
	}
}

.beta-join {
	padding-top: 1em;
	padding-bottom: 5em;
	text-align: center;

	p {
		font-size: 1.5em;
	}
}

#beta-heading {
	padding-bottom: 0;
}

#thankYou {
	text-align: center;
	padding: 0 0 150px 0;
}

#thankYou-container {
	align-items: initial;
	min-height: 400px;
	text-align: center;

	h1 {
		margin-bottom: 0;
	}

	p {
		font-size: 1.3em;
	}
}

.partners {
	display: block;
	text-align: -webkit-center;

	.main {
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 0 auto;
	}
	.title {
		font-size: 46px;
		color: #7289da;
		padding-bottom: 50px;
		font-weight: 700;
	}
	.description {
		font-size: 15px;
		color: #fff;
		padding-bottom: 1em;
	}
	.slideshow-title {
		font-size: 25px;
		color: #ffffff;
		padding-bottom: 0.75em;
	}
	.slider {
		width: 100%;
		height: 300px;
		display: inline-flex;
		align-items: center;
		margin-bottom: 2em;

		.left {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 30%;
			height: 80%;
			float: left;
			margin-right: 5%;
			border-radius: 5px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			opacity: 0.5;
			z-index: 10;

			.arrow {
				left: 20px;
			}
		}

		.middle {
			display: table;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 30%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 5px;
			z-index: 10;
		}

		.right {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 30%;
			height: 80%;
			float: right;
			margin-left: 5%;
			border-radius: 5px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position-y: center;
			opacity: 0.5;
			z-index: 10;

			.arrow {
				right: 20px;
			}
		}

		.arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 32px;
			color: gray;
			position: absolute;
			width: 50px;
			height: 50px;
			background: #010101;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			z-index: 10;
			cursor: pointer;
		}

		.arrow:hover {
			color: white;
			transition: color, 0.3s;
		}
	}
	.description {
		font-size: 15px;
		color: #fff;
		padding-bottom: 1em;
	}
	.requirments {
		display: inline-block;
		border-radius: 5px;
		width: 880px;
		height: 320px;
		padding: 3em;
		background-color: rgba(35, 39, 42, 0.25);

		.rTitle {
			font-size: 39px;
			font-weight: 700;
			color: #7289da;
		}
		.rText {
			font-size: 23px;
			color: #ffffff;
		}
		.rDescription {
			font-size: 15px;
			color: #808080;
		}
	}
	.button-container {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.jobs {
		font-size: 20px;
		font-weight: 700;
		color: #808080;
		padding-bottom: 50px;
	}
	.sponsor-title {
		font-size: 46px;
		font-weight: 700;
	}
	.text {
		display: table-cell;
		width: 100%;
		height: 100%;
		color: white;
		z-index: 10;
		text-align: center;
		vertical-align: middle;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.sponsor-cards {
		display: inline-flex;
	}
	.why {
		font-size: 28px;
		color: white;
		margin: 1.5em;
	}
	.reason {
		padding: 1em;
		width: 300px;
		height: 100px;
		background: #23272a;
		border-radius: 5px;
		text-align: center;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 2em;

		h1 {
			display: block;
			font-size: 22px;
			text-transform: uppercase;
			color: #7289da;
		}
		p {
			color: white;
			font-size: 14px;
		}
	}

	.applyText {
		font-size: 20px;
		color: white;
		margin-bottom: 0;
		margin-top: 4em;
		line-height: 0;
	}

	.random-img {
		position: absolute;
		opacity: 0.25;
		z-index: 0;
		border-radius: 100%;
	}
}

.promo-container {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-content: center;

	max-width: 1200px;
	margin: 0 auto;
	padding: 5em 0;

	&.beta {
		display: unset;
		margin-top: 2em;
	}

	.promo-container__heading {
		margin: auto 0;
		text-align: center;

		flex-flow: column;

		.heading__logo {
			display: inline-block;
			margin: 1.5em 0;

			img {
				width: 450px;
			}
		}

		.heading__text {
			display: inline-block;

			p {
				position: relative;
				left: 3px;
				font-size: 1.2em;
				margin: 0;
				font-weight: 500;
				color: rgba(255, 255, 255, 0.9);
				max-width: 530px;
			}
		}

		.heading__button-group {
			max-width: fit-content;
			margin: 40px auto;

			.button {
				margin: 0.4em;
			}
		}
	}

	.promo-container__presences {
		margin-left: 60px;
	}
}

.presence-container {
	max-width: 1600px;
	margin: 2em auto;
	display: flex;
	align-items: flex-start;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;

	&#error {
		margin-top: 2.7em;
		background-color: #191b24;
		border-radius: 0.5rem;
	}
}

.category-container {
	display: flex;
	position: relative;
	justify-content: center;
	flex-flow: column;

	.category-item {
		font-weight: 600;
		font-size: 0.95em;
		padding: 6px 12px;
		margin: 4px 0;
		border-radius: 2px;
		border: 1px solid lighten($background-secondary, 5%);
		color: lighten($background-secondary, 35%);

		transition: all 0.2s ease;

		&:hover {
			border: 1px solid lighten($background-secondary, 10%);
			color: lighten($background-secondary, 35%);
			background-color: transparentize(
				lighten($background-secondary, 35%),
				0.95
			);
		}

		&.nuxt-link-exact-active,
		&.router-link-exact-active {
			border: 1px solid $accent-primary;
			background-color: $accent-primary;
			color: $purplewhite;
		}
	}
}

.section-heading {
	max-width: 1100px;
	margin: 0 auto;

	padding-top: 3.5em;
	padding-bottom: 3.5em;
	text-align: center;

	.section-heading__title {
		color: #fff;
		font-size: 4em;
		font-weight: bold;
		margin: 0.1em;
	}

	.section-heading__subtitle {
		color: #fff;
		opacity: 0.8;
		font-size: 1.2em;
		font-weight: 500;
	}
}

.dl-container {
	color: white;
	position: relative;

	&__mobile-warning {
		margin-top: 2em;
		background-color: red;
		border-radius: 4px;
		margin: 2em 2em 0;
		padding: 1em !important;
	}

	&__showDownloads {
		margin-top: 1em;
		text-align: center;
		user-select: none;
		cursor: pointer;
	}

	.dl-container__section {
		position: relative;
		padding: 0 2rem;

		&_header {
			position: relative;

			margin: 0 auto;

			z-index: 1;

			padding-top: 6em;
			padding-bottom: 12em;
		}

		&_downloads {
			padding-top: 1em;
			padding-bottom: 2em;

			.bounce {
				animation: 1s bounce normal;
			}
		}

		h1.section-header {
			text-align: center;
			font-weight: 800;
			font-size: 52px;
			letter-spacing: -1px;
			background: linear-gradient(30deg, $accent-primary, #b3aeff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-shadow: none;

			&::after {
				top: 0;
				transition: 0.15s opacity ease-out;
				position: absolute;
				content: "";
				background: rgba(114, 137, 218, 0.25) !important;
				width: 100%;
				height: 100%;
				display: inline-block;
				left: 0;
				margin-top: -15px;
				z-index: -1;
				opacity: 0;
			}
		}
	}

	.dl-container__header {
		display: flex;
		max-width: 1600px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: flex-start;

		.header__content {
			width: 55%;

			h1 {
				font-weight: 800;
				line-height: 1.1;
				font-size: 3.8em;
				letter-spacing: -3px;
				background: linear-gradient(30deg, $accent-primary, #b3aeff);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				text-shadow: none;
				max-width: 600px;
			}

			p {
				font-weight: 500;
				line-height: 1.1;
				font-size: 1.5em;
				max-width: 800px;
			}
		}

		.header__steps {
			width: 35%;

			h2 {
				margin-block-start: 0.67em;
				margin-block-end: 0.67em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
			}

			ol {
				counter-reset: myCounter;
				margin: 0;
				padding: 0;

				li {
					display: flex;
					list-style: none;
					align-items: center;

					p {
						font-weight: 500;
						margin: 12px 38px;
					}
				}

				li:before {
					counter-increment: myCounter;
					content: counter(myCounter);
					line-height: 1;
					text-align: center;
					width: 16px;
					height: 16px;
					padding: 5px;
					margin-right: 12px;
					font-weight: bold;
					position: absolute;
					display: inline-block;
					border-radius: 50rem;
					background: linear-gradient(30deg, $accent-primary, #b3aeff);
				}
			}
		}
	}
}

.container__header {
	margin: 0 0.5em;
	padding: 0;

	color: #b3aeff;
	background: linear-gradient(30deg, $accent-primary, #b3aeff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 800;
	text-align: center;

	user-select: none;

	span.header__step {
		font-weight: 900;

		letter-spacing: 6px;
		vertical-align: bottom;
	}
}

.language-notify {
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;

	.language-notify__content {
		margin-right: 2rem;
	}

	.language-notify__buttons {
		margin-left: auto;
	}

	h2 {
		color: white;
		font-weight: 700;
		margin: 0;
		margin-bottom: 0.4rem;
	}

	p {
		color: rgba(255, 255, 255, 0.8);
		font-weight: 500;
		margin: 0;
	}
}

.language-notify__wrapper {
	background: $background-secondary;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 2rem;
}

.languages-container {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.85);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;

	a.languages-container__close {
		position: absolute;
		top: 0.5em;
		right: 1em;
		font-size: 2rem;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.2s ease;
		z-index: 4;

		&:hover {
			color: rgba(255, 255, 255, 1);
		}
	}

	.languages-list {
		max-height: 100%;
		max-width: 100%;
		position: relative;
		z-index: 999;
		display: flex;
		flex-wrap: wrap;
		max-width: 800px;
		margin: 0 auto;

		.languages-list__item {
			user-select: none;
			font-size: 1.2rem;
			margin: 12px;
			font-weight: bold;
			color: rgba(255, 255, 255, 0.5);
			display: inline-block;
			transition: all 0.2s ease;
			border: none;
			background: none;
			cursor: pointer;
			outline: none;

			&:hover,
			&.active {
				color: rgba(255, 255, 255, 1);
				transform: scale(1.1);
			}
		}
	}
}

.contributor-container {
	padding-left: 25px;
	padding-top: 25px;
	max-width: 1400px;
	margin: 0 auto;

	.contributor-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
}

.fullpresence-container {
	max-width: 1200px;
	margin: 0 auto;

	padding: 0 2rem;

	.fullpresence__header {
		overflow: hidden;

		position: relative;
		padding: 4rem;
		border-radius: 0.5rem;
		margin: 2rem 0;
		background-position: center;
		background-size: cover;

		display: flex;
		flex-wrap: wrap;
		box-shadow: 0 4px 32px 0 rgba(9, 10, 10, 0.2);

		align-items: center;

		.fullpresence__overlay {
			opacity: 0.85;
		}

		.header__title {
			max-width: 50%;

			h1 {
				position: relative;
				color: white;
				font-size: 48px;
				font-weight: 800;
				z-index: 2;
				margin: 0;
				cursor: default;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.section {
				display: flex;
				color: white;
				z-index: 3;

				span {
					font-size: 1rem;
					text-align: center;
					cursor: pointer;
					margin: 1em 0.5em;
				}
			}

			// .fullpresence__verified {
			// 	display: inline-block;
			// 	vertical-align: middle;
			// }

			p {
				position: relative;
				color: rgba(255, 255, 255, 0.8);
				z-index: 2;
				font-weight: bold;
				margin: 0;

				a {
					color: rgba(255, 255, 255, 1);
				}
			}
		}

		.header__buttons {
			z-index: 2;
			margin-left: auto;

			.button {
				padding: 14px 30px;
				line-height: 1;
			}

			.button--like {
				padding: 12px 20px;

				i {
					margin-right: 0;
				}
			}
		}

		hr {
			flex-basis: 100%;
			height: 0;
			margin: 0;
			border: 0;
		}

		.header__warning {
			box-shadow: 0 3px 26px -5px rgba(0, 0, 0, 0.5);
			background: rgba(0, 0, 0, 0.75);

			margin: 10px 0;
			border-radius: 4px;
			padding: 10px;

			position: relative;
			color: rgba(255, 255, 255, 0.8);
			z-index: 2;
			font-weight: bold;
		}

		.fullpresence__gradient {
			background-size: cover !important;
			filter: blur(0.75px);
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
			opacity: 8;

			z-index: 1;
		}
	}

	.fullpresence__content {
		display: flex;
		align-items: flex-start;
		color: white;

		> div {
			background: #2f3136;
			padding: 1.5em;
			margin: 1em 0;
			border-radius: 0.5rem;
			box-shadow: 0 4px 32px 0 rgba(9, 10, 10, 0.2);
		}

		h2.content__title {
			color: white;
			font-size: 28px;
			font-weight: 700;
			margin: 0;
			margin-bottom: 1rem;
		}

		.content__description {
			flex: 0.7;
			margin-right: 1em;

			.description-container {
				font-size: 16px;
				color: rgb(199, 207, 214);
			}
		}

		.content__info {
			flex: 0.3;
			margin-left: 1em;

			ul.info__sections {
				list-style: none;
				margin: 0;
				padding: 0;
				color: rgb(199, 207, 214);
				font-weight: 500;

				user-select: none;

				p {
					margin: 0;
				}

				li {
					margin: 12px 0;
				}

				.presence-version {
					color: white;
				}

				.presence-tags {
					padding-left: 15px;
					margin: 15px 0;
					display: flex;
					flex-wrap: wrap;

					.label_tag {
						font-weight: 500;
						margin: 2px 2px;
						padding: 3px 8px;
						border-radius: 50px;
					}
				}

				.presence-urls {
					font-weight: bold;
					list-style-type: circle;
					list-style-position: outside;

					a {
						color: white;
					}
				}

				.author-name {
					font-weight: 700;
					margin-left: 2px;
				}

				.author-avatar {
					bottom: -6px;
					width: 24px;
					display: inline-block;
					vertical-align: baseline;
					position: relative;
					border-radius: 100%;
				}
			}
		}
	}
}

.loader-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	overflow: hidden;

	display: flex;

	z-index: 9999;
	background: $background-secondary;

	text-align: center;
	justify-content: center;
	align-items: center;

	.loader {
		img {
			width: 150px;
			height: 150px;
			position: relative;

			transform: translateX(10px);
			animation: loaderAnimation 0.5s ease-out infinite;
		}

		p {
			color: rgba(255, 255, 255, 1);
			font-size: 1.4em;
			font-weight: bold;
		}
	}
}

.userpage-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;

	.userpage__header {
		display: flex;
		justify-content: center;
		align-items: center;

		> div {
			margin: 0 6px;
		}

		.roles {
			display: flex;

			i {
				margin: 0 5px;
				transition: opacity 0.2s ease-in-out;

				&:hover {
					opacity: 0.75;
				}
			}
		}

		.user-avatar img {
			border-radius: 100%;
			width: 128px;
			height: 128px;
		}

		.user-data {
			color: white;

			.label {
				margin-top: 5px;
			}

			p {
				margin: 0;
			}

			.username {
				font-size: 32px;
				font-weight: bold;
				margin-left: 4px;

				.tag {
					color: rgba(255, 255, 255, 0.3);
					font-size: 24px;
				}
			}

			.userrole {
				font-size: 22px;
			}
		}
	}

	.userpage__presences {
		margin-top: 3em;

		h1 {
			font-weight: bold;
			font-size: 36px;
			text-align: center;
		}
	}
}

.pagination-container {
	user-select: none;

	margin: 2em;
	display: flex;
	justify-content: center;
	align-items: center;

	.hidden {
		display: none !important;
	}

	.button--pagination {
		transition: 0.15s background-color ease-out;

		display: inline-flex;
		justify-content: center;
		align-items: center;

		min-width: 50px;
		min-height: 50px;

		color: #fff;
		background-color: lighten($background-secondary, 10);
		font-weight: 700;
		font-size: 20px;

		border-radius: 50%;
		margin: 0 5px;

		&.active {
			background-color: $accent-primary;
		}

		&:hover {
			background-color: lighten($background-secondary, 15);
		}
	}
}

// .category-container {
//   .category-item {
//     margin: 0 2px;
//     padding: 3px 10px;
//     border-radius: 50px;

//     &.nuxt-link-exact-active,
//     &.router-link-exact-active {
//       background: $accent-primary;
//       color: $background-secondary;
//       box-shadow: 0 3px 26px -5px fade($accent-primary, 50%);
//     }
//   }
// }

.error-container {
	max-width: 800px;
	background-color: $background-secondary;
	padding: 3em;
	border-radius: 0.4em;
	margin: 4em auto;

	h1 {
		margin: 0;
		margin-bottom: 0.6em;
		font-weight: 800;
		line-height: 1.1;
		font-size: 3.8em;
		letter-spacing: -3px;
		background: linear-gradient(30deg, $accent-primary, #b3aeff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: none;
		max-width: 600px;
	}

	.error-container--btns {
		margin-top: 2em;
	}

	.error-textarea p {
		margin: 0.5em 0;
		font-family: monospace;
	}
}

.modal-mask {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: table;

	.modal-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: flex;
		overflow: hidden;
		justify-content: center;
	}

	.limage {
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		align-items: center;
		align-self: center;
		text-align: center;
		justify-content: center;
		background-color: #151518;
		width: 15vw;
		height: 80vh;
		padding: 20px 30px;

		img {
			max-width: 100%;
			align-self: center;
			object-fit: contain;
			margin-top: auto;
		}

		h1 {
			color: white;
			font-size: 3rem;
			line-height: 0;
		}

		.bottomText {
			margin-top: auto;
			color: white;

			p {
				margin: 0;
				font-size: 1rem;
			}

			.steps {
				font-size: 1rem;
				margin-top: 1rem;
				color: gray;
				text-transform: uppercase;
			}
		}
	}

	.limage.small {
		max-height: 340px;
	}

	.modal-container {
		width: 35vw;
		height: 80vh;
		padding: 20px 30px;
		background-color: #23272a;
		border-radius: 2px;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
		position: relative;

		.error {
			color: red;
			line-height: 0;
		}

		.tasks {
			text-align: left;
			margin: 0;

			h1 {
				text-transform: uppercase;
				font-size: 1.75em;
			}

			p {
				color: #888888 !important;
				margin: 0;
				margin-left: 0.5em;
			}
		}

		#particles-js {
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		p label {
			color: white;
			font-size: 0.75rem;
			float: left;
			text-align: left;
			margin-bottom: 0.25em;
			text-transform: uppercase;
			width: 100%;
		}

		input {
			transition: all 0.15s ease-out;

			font-family: "Inter";
			color: white;
			display: block;
			border-radius: 4px;
			width: 100%;
			width: -webkit-fill-available;
			width: -moz-available;
			margin-bottom: 0.75em;
			padding: 0.75em;
			box-sizing: border-box;
			border: 1px solid transparent;
			background-color: #1f1f20;
		}

		input:focus {
			border: 1px solid #7289da;
		}

		input::placeholder {
			color: #888888;
		}

		select {
			font-family: "Inter";
			background-color: #151518;
			color: white;
			display: block;
			border-radius: 4px;
			width: 60%;
			margin-bottom: 1em;
			padding: 0.5em;
			border: 1px solid #7289da;
			transition: all 0.6s ease;
		}

		select option {
			color: white;
		}

		textarea {
			font-family: "Inter";
		}

		.recaptcha {
			margin-top: 1em;
		}
	}

	.modal-container.small {
		max-height: 340px;
	}

	.modal-header {
		margin-bottom: 1em;
		h1 {
			color: white;
			font-size: 2em;
			font-weight: 500;
			margin: 0;
			text-align: center;
		}
	}

	.modal-footer {
		margin-top: 1em;
		.buttons {
			position: absolute;
			right: 1em;
			bottom: 1em;
		}
		.button {
			font-family: inherit;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			border: none;
			padding: 0.5rem 1.5rem;
			border-radius: 55rem;
			font-size: 0.85em;
			font-weight: 700;
			background: #7289da;
			color: #fdfcff;
			cursor: pointer;
			display: block;
			margin-right: 0.7rem;
			transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			box-shadow: 0 3px 16px -7px rgba(17, 18, 24, 0.7);
			text-align: center;
			font-family: inherit;
			float: right;
		}
	}

	.modal-body {
		margin: 20px 0;

		.jobCheckbox {
			display: flex;
			text-align: left;
			align-items: center;
			padding: 0.5em;
			font-size: 0.8em;
			background-color: #151518;
			border-radius: 5px;

			.checkbox-switcher label {
				span {
					flex-shrink: 0;
				}
			}

			input[type="checkbox"] {
				margin: 1em;
				width: auto;
			}
		}
	}

	.modal-default-button {
		float: right;
	}
}

.no-scroll {
	overflow: hidden;
}

.partners {
	.carousel-3d-container {
		.carousel-3d-slide {
			background-color: transparent;
			border-style: none;
		}

		figure {
			margin: 0;

			img {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 50%;
			}
		}

		figcaption {
			position: absolute;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			bottom: 0;
			padding: 15px;
			font-size: 12px;
			min-width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;

			h1 {
				font-size: 3em;
				line-height: 0.3;
			}

			p {
				font-size: 1.1em;
			}
		}
	}

	display: block;
	text-align: -webkit-center;

	.main {
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 0 auto;
	}

	.title {
		font-size: 46px;
		color: #7289da;
		padding-bottom: 50px;
		font-weight: 700;
	}

	.description {
		font-size: 15px;
		color: #fff;
		padding-bottom: 1em;
	}

	.slideshow-title {
		font-size: 25px;
		color: #ffffff;
		padding-bottom: 0.75em;
	}

	.description {
		font-size: 15px;
		color: #fff;
		padding-bottom: 1em;
	}

	.button-container {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.jobs {
		font-size: 20px;
		font-weight: 700;
		color: #808080;
		max-width: 725px;
		padding-bottom: 50px;
	}

	.sponsor-title {
		font-size: 46px;
		font-weight: 700;
	}

	.text {
		display: table-cell;
		width: 100%;
		height: 100%;
		color: white;
		z-index: 10;
		text-align: center;
		vertical-align: middle;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.sponsor-cards {
		display: inline-flex;
		max-width: 1200px;
		overflow-x: scroll;
	}

	.applyText {
		font-size: 20px;
		color: white;
		margin-bottom: 0;
		margin-top: 4em;
		line-height: 0;
	}

	.random-img {
		width: 125px;
		height: 125px;
		position: absolute;
		opacity: 0.6;
		z-index: -1;
		border-radius: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.fullpresence-container {
		.fullpresence__header .header__title .section span {
			padding: unset;
		}

		.fullpresence__content {
			.content__description,
			.content__info {
				max-width: 70vw;
			}
		}
	}

	.userpage__header {
		display: block !important;
		text-align: center;

		.roles {
			place-content: center;
		}
	}

	.modal-mask {
		overflow-y: scroll;

		.modal-container {
			overflow-y: scroll;
			width: 100vw;
			font-size: 0.85em;

			.modal-header h1 {
				font-size: 1.5em;
			}
		}

		.modal-body h1 {
			font-size: 1.5em !important;
		}

		.modal-footer .buttons {
			position: relative;
		}
	}

	.jobs-container {
		padding: 25px 0 75px;

		.jobs-heading h1 {
			margin-bottom: 0.5em;
			font-size: 2em;

			p {
				padding: 0 0.5em;
			}
		}
	}

	.benefits {
		h1 {
			font-size: 1.75em;
		}
		.benefit p {
			padding: unset;
		}
	}

	.fullpresence-container .fullpresence__header .header__buttons .button {
		margin-right: 0;
		padding: 10px 15px;

		.icon i {
			margin-right: 0;
		}
	}

	.limage {
		display: none !important;
	}

	.modal-container {
		width: unset !important;
		max-width: 90vw !important;
	}

	.sponsor-cards {
		max-width: 100% !important;
		margin: 0 !important;
	}

	#thankYou-container .card--feature__details p {
		display: block;
	}

	.partners {
		.requirments {
			height: auto;
			max-width: 100%;
			margin: 0;
			padding: 0;
			background-color: rgba(35, 39, 42, 1);

			&--content {
				padding: 2em;
			}
		}

		p {
			padding: 0 1em;
		}

		.sponsor-info {
			p {
				padding: 0 !important;
			}
		}
	}

	.beta-join {
		padding-bottom: 1em;

		p {
			padding: 0 1em;
		}
	}

	.contributor-container {
		padding-top: 25px;
		padding-left: 0;
		max-width: 100%;
		margin: 0 auto;

		h1.heading {
			text-align: center;
		}

		.contributor-inner {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.languages-container {
		overflow: scroll;
	}

	.dl-container .dl-container__section_header {
		padding-bottom: 3em;
	}

	.promo-container {
		.heading__logo img {
			width: 80vw !important;
			height: auto;
			max-width: 100%;
		}

		.heading__text p {
			padding: 0.5em;
		}
	}
}
