.store-grid {
  display: flex;
  color: lighten($background-secondary, 45%);

  flex-wrap: nowrap;
  flex-flow: row;

  align-items: flex-start;

  max-width: 1600px;
  margin: 0 auto;
  /* padding: 5em 0; Disabled because looks better this way. */

  &__sidebar {
    margin: 2.6em 1em;
    background: $background-secondary;
    width: 15%;
    padding: 1.2em;
    border-radius: 0.5rem;
    overflow: hidden;

    font-weight: 600;

    position: sticky;
    top: 1em;

    .sidebar__header {
      padding-bottom: 0.5em;
      margin: 0;
      color: #627e93;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      font-size: 1.4em;
      font-weight: 800;
    }

    .sidebar__subheader {
      margin: 0;
      color: $accent-primary;
      font-size: 1.1em;
      font-weight: 800;
      &:first-child {
        margin-top: 0.5em;
      }
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    .sidebar__search {
      flex: 1 1 auto;
      display: flex;
      align-items: center;

      position: relative;

      max-width: 700px;
      margin: 0 auto;
      padding: 20px;

      width: 1%;

      input {
        width: stretch;
        border-radius: 99em;
      }

      .sidebar__search {
        margin: 0 2em;
      }
    }
  }

  &__content {
    margin: 0 1em;
    flex: 55%;
  }
}
@media only screen and (max-width: 600px) {
  .store-grid {
    &__sidebar {
      width: 80% !important;
      margin: 0 auto;
    }

    &__content {
      align-self: center;
      margin: 0 1em;
      flex: 55%;
    }
  }
}
