input[type="text"] {
	height: 1.8rem;
	padding: 0 10px;
	font-size: 14px;
	transition: all 300ms ease;
	border: none;
	background: lighten($background-secondary, 4%);
	color: lighten($background-secondary, 40%);
	line-height: 25px;
	font-weight: bold;
	width: 100%;
	border-radius: 2px;

	&:focus {
		background: lighten($background-secondary, 7%);
		outline: none;
	}

	* {
		margin-left: -17.5rem;
	}

	&::placeholder {
		color: lighten($background-secondary, 45%);
	}
}

.searchbar {
	&:focus {
	}

	* {
	}

	&::placeholder {
		color: #74787c;
	}
}
