.section {
  position: relative;
  overflow: hidden;

  &__heading {
    font-size: 1.8em;
    padding: 0 4em;

    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }

    h1 {
      color: #f8f9fd;
      font-weight: bold;
    }

    .section__subheading {
      font-size: 0.8em;
      color: scale-color(#f8f9fd, $alpha: -30%);
      font-weight: bold;
    }
  }

  &--features {
    position: relative;
    z-index: 1;
    overflow: hidden;

    padding: 120px 0 150px;

    background-image: linear-gradient(
      125deg,
      $background-secondary,
      $background-primary
    );
  }
}

@media only screen and (max-width: 600px) {
  .section {
    position: relative;
    overflow: hidden;

    &__heading {
      font-size: 1em;
      padding: 0;

      &--center {
        text-align: center;
      }
      &--right {
        text-align: right;
      }

      h1 {
        color: #f8f9fd;
        font-weight: bold;
      }

      .section__subheading {
        font-size: 0.8em;
        color: scale-color(#f8f9fd, $alpha: -30%);
        font-weight: bold;
      }
    }

    &--features {
      position: relative;
      z-index: 1;
      overflow: hidden;

      padding: 48px 0 0px;

      background-image: linear-gradient(
        125deg,
        $background-secondary,
        $background-primary
      );
    }
  }
}
