.m-rl--auto {
    margin: 0 auto;
}

.m-tb--auto {
    margin: auto 0;
}

.m--auto {
    margin: auto;
}

@mixin margin($margin-size) {
    .mr--#{$margin-size} {
        margin-right: $margin-size + rem;
    }

    .mt--#{$margin-size} {
        margin-top: $margin-size + rem;
    }

    .mb--#{$margin-size} {
        margin-bottom: $margin-size + rem;
    }

    .ml--#{$margin-size} {
        margin-left: $margin-size + rem;
    }

}

@mixin padding($padding-size) {
    .pr--#{$padding-size} {
        padding-right: $padding-size + rem;
    }

    .pt--#{$padding-size} {
        padding-top: $padding-size + rem;
    }

    .pb--#{$padding-size} {
        padding-bottom: $padding-size + rem;
    }

    .pl--#{$padding-size} {
        padding-left: $padding-size + rem;
    }

}

@include margin(1)
@include margin(2)
@include margin(4)
@include margin(5)

@include padding(1)
@include padding(2)
@include padding(4)
@include padding(5)
