.checkbox-switcher {
	span {
		transition: all .15s ease-out;
	}

	cursor: pointer;
	transition: all .15s ease;

	input[type=checkbox] {
		opacity: 1;
		width: 0;
		height: 0;
	}

	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	input[type="checkbox"]:checked+.checkbox-container {
		background-color: $accent-primary;

		&:after {
			left: 21px;
		}

		&:active {
			&:after {
				width: 26px;
				left: 13px;
			}
		}
	}

	.checkbox-container:active {
		&:after {
			width: 26px;
		}
	}

	.checkbox-container {
		display: inline-block;
		position: relative;
		width: 42px;
		height: 24px;
		background-color: #72767d;
		border-radius: 14px;

		overflow: hidden;

		cursor: pointer;

		margin: 4px 0;

		&:after {
			content: "";
			position: absolute;
			display: inline-block;
			background: white;
			width: 18px;
			height: 18px;
			left: 3px;
			top: 3px;
			border-radius: 14px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

			transition: all .15s ease;
		}
	}
}
