.store-card {
    width: 400px;
    height: 200px;
    position: relative;
    background: hsl(216, 7%, 9%);
    background-image: url("https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/743/cached.offlinehbpl.hbpl.co.uk/news/OMC/Netflix1-20180822081935478.jpg");
    background-size: cover;
    box-shadow: 0 4px 32px 0 rgba(9, 10, 10, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0.6em;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    transition: all 0.2s ease;

    user-select: none;

    .store-card__gradient {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .7; 

        z-index: 1;
    }

    .store-card__service-logo {
        padding: 0 1em;
        margin: auto 0;
        img {
            max-width: 100px;
            border-radius: 5px;
            filter: drop-shadow(0 4px 0.75rem rgba(0, 0, 0, 0.2));
        }

        z-index: 2;
    }

    .store-card__service-info {

        filter: drop-shadow(0 4px 0.75rem rgba(0, 0, 0, 0.4));

        z-index: 2;

        color: white;
        margin: auto 0;
        margin-right: auto;

        a {
            color: white;
        }

        h2 {
            margin: 0;
        }

        p {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            margin: 0;
            font-weight: 500;
        }

        .store-card__desc {
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 4;

            margin-top: 8px;
            font-size: 12px;

            color: rgba(255, 255, 255, 0.8);

            transition: all 0.2s ease;
        }

        .store-card__buttons {
            margin-top: 10px;

            display: none;

            .button, a {
                font-size: 12px;
                width: 100%;
            }
        }

    }

    &:hover {
        box-shadow: 0 6px 32px 0 rgba(9, 10, 10, 0.8);

        .store-card__buttons {
            display: inline-block;
            opacity: 1;
        }

        .store-card__desc {
            display: none;
            opacity: 0;
        }

    }

}


.contributor {
    width: 11.5rem;
    height: 15.2rem;
    border-radius: 0.3rem;
    background: @background-secondary;
    transform: translate(0.5rem);
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    @transition-time: 150ms;
    transition: box-shadow @transition-time ease, transform @transition-time ease,
        color @transition-time, background @transition-time;

    &:hover {
        transform: translate(0.2rem, -0.3rem);
        margin-bottom: 0.5rem;
        box-shadow: 0.35rem 0.35rem rgba(0, 0, 0, 0.2);
        transition: box-shadow @transition-time ease,
            transform @transition-time ease, color @transition-time,
            background @transition-time;

        .picture {
            width: 11rem;
            height: 11rem;
            margin-top: 0.5rem;
            margin-left: 0rem;
            transition: margin-top @transition-time ease,
                margin-left @transition-time ease, width @transition-time ease,
                height @transition-time ease;

            img {
                transition: border-radius @transition-time ease;
                border-radius: 0.3rem;
            }
        }
    }

    .picture {
        width: 12rem;
        height: 12rem;
        margin-bottom: 0.25rem;
        margin-left: -0.5rem;
        transition: margin-top @transition-time ease,
            margin-left @transition-time ease, width @transition-time ease,
            height @transition-time ease;

        img {
            border-radius: 0.3rem 0.3rem 0 0;
        }
    }

    span {
        font-weight: bold;
        font-family: "Discord Font";

        &.name {
            color: white;
            font-size: 0.8rem;
        }
    }
}

.presence-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
  }
