/**
 * 
 * Phone & Tablet screen
 * 
 */
@media only screen and (max-width: 860px) {
    body {
    .on-desktop {
        display: none !important;
    }
    .feature-cards {
        flex-wrap: wrap;
        .feature-cards__card {
            width: 250px;
        }
    }
    .promo-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .promo-container .promo-container__presences {
        margin-left: 0;
    }
    .promo-container .promo-container__heading {
        margin-right: 0;
    }
    .footer-grid .grid__section .section__title {
        border-left: 3px solid white;
        padding-left: 10px;
        font-size: 1.3em;
        margin: 20px auto;
    }
    .footer-grid {
        flex-flow: column;
    }
    button, a.button {
        padding: 10px 15px;
        font-size: 16px;
    }
    .presence {
        width: auto;
        margin: 20px;
    }
}
}

/**
 * 
 * Very small phone screen
 * 
 */
@media only screen and (max-width: 580px) {
    .promo-container .promo-container__heading {

        .heading__logo {
            display: flex;
            img {
                margin: 0 auto;
            }
        }

        .heading__text {

            margin-left: 0;
            display: block;

            h1 {
                text-align: center;
            }

            p {
                left: 0;
                margin-left: 0;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .presence .bottom .service .details {
        margin-left: 12px;
    }

    .presence .bottom .service .details p {
        font-size: 0.7rem;
        letter-spacing: 0.04rem;
    }
}

@media only screen and (max-width: 400px) {

    .heading__button-group {
        button, a.button {
            width: 100%;
            margin: 5px 0;
        }
    }
}

// Desktop
@media (min-width: 860px) {
    .on-mobile {
        display: none !important;
    }
}
