$background-primary: hsl(205, 20%, 8%);
$background-secondary: hsl(205, 20%, 11%);
$purplewhite: #FDFCFF;
$accent-primary: hsl(205, 98%, 56%);
$accent-secondary: #7E53DB;
$accent-thirdinary: #7E53DB;
$color-btn-green: #62ad00;

$scroll-shade: rgba(255, 255, 255, 0.1);
 