$background-primary: hsl(227, 18%, 8%);
$background-secondary: hsl(227, 18%, 12%);
$purplewhite: #fdfcff;
$accent-primary: #7289da;
$accent-secondary: #b3aeff;
$accent-thirdinary: #7e53db;
$color-btn-green: #62ad00;

$scroll-shade: rgba(255, 255, 255, 0.1);
