$background-primary: hsl(205, 20%, 8%);
$background-secondary: hsl(205, 20%, 11%);
$purplewhite: #fdfcff;
$accent-primary: #7289da;
$accent-secondary: #7e53db;
$accent-thirdinary: #7e53db;
$color-btn-green: #62ad00;

$scroll-shade: rgba(255, 255, 255, 0.1);
