name: CD
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_run:
    workflows: ["CI"]
    branches:
      - stable
    types:
      - completed
jobs:
  docker:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: "Recodive/Workflows/.github/workflows/CD Docker.yml@main"
    secrets:
      GH_NPM_TOKEN: ${{ secrets.GH_NPM_TOKEN }}
    permissions:
      contents: read
      packages: write
  deploy:
    needs: docker
    uses: Recodive/Workflows/.github/workflows/CD.yml@main
    secrets:
      KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
    with:
      namespace: premid
      deployment: website-stable
