name: CI
on: [push, pull_request]

jobs:
  test:
    name: Install dependencies and build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build
