name: Merge dependabot PRs
on:
  workflow_run:
    workflows: ["CI"]
    branches:
      - stable
      - main
    types:
      - completed

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      pull-requests: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: minor
