name: Build Docker Image
on:
  push:
    branches: [stable, master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
    - name: Build and push Docker images
      uses: docker/build-push-action@v1
      with:
        username: Timeraa
        password: ${{ secrets.GH_TOKEN }}
        registry: docker.pkg.github.com
        repository: premid/website/website
        tags: ${{ steps.extract_branch.outputs.branch }}
